.container{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-direction: column;
    margin-bottom: 0;
}

.formsContainer{
    height: 100%;
    background-color: transparent;
}

.formContent{
     margin: 0 2rem;
     background-color: #FFF;
     border-radius: 0.8rem;
     flex: unset;
     z-index: 10;
     padding: 3rem 2rem;
     transform: translateY(-60px);
     height: 100%;
     padding-bottom: 0;
}

@media (min-width:1000px){
    .container{
        flex-direction: row;
        padding: 2rem;
        background-color: #FFF;
        position: relative;
        
    }

    .formsContainer{
        flex: 3.8;
        position: relative; 
        padding: 5rem 10rem;
        border-radius: 0;
        background: unset;
        height: unset;
        padding-top: 0.5rem;
    }

    .formContent{
        transform: unset;
        z-index: unset;
        margin: unset;

    }
}


