.button{
    padding: 1rem 0;
    bottom: 2rem;
    border: none;
    left: 10rem;
    color: var(--header-color);
    background:transparent ;
    text-transform: capitalize;
    color: grey;
    left: -10px;
    border-radius: unset;
}

.button:hover{
    color: #000;
}

.right{
    left: unset;
    right: 10rem;
    color: #FFFFFF;
    background: #164A8A;
    padding: 1rem 2rem;
    right:-10px
}





