.container {
    justify-content: space-between;
    display:flex;
    align-items: center;
    margin-bottom: 1.5rem;
    color: #9699AA;
    font-size: 1.5rem;
    font-weight: 600;
}

.container button{
    display: none;
}

.container .plan_cost{
    color: #022959;
    font-size: 1.3rem;
}

.main_plan .plan h5, .main_plan .plan_cost{
    font-size: 1.6rem;
    font-weight: 900;
    color: #022959;
}

.main_plan button{
    color: #9699AA;
    font-size: 1.4rem;
    display: none;
    margin-top: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    background: transparent;
}

.main_plan button::after{
    content: "";
    width:4.5rem;
    display: block;
    height: 1px;
    background-color: #9699AA;
}

.main_plan{
    border-bottom: 1px solid #9699AA;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}

.main_plan button{

    display: block;
    
}

.main_plan button:hover{
    color:#483EFF;
}

.main_plan button:hover::after{
    background-color: #483EFF;
}
