.container {
    background-image: url("/public/Images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
    background-position: center;
    align-items: center;
    padding: 2.5rem 8rem;
    height: 150px;
    flex: unset;
}

nav{
    display: flex;
    row-gap: 3rem; 
    align-items: center;
    justify-content: space-around;
}


@media (min-width:1000px){
    .container{
        height: 100%;
        flex: 1;
        padding: 2.5rem;
        position: relative;
        background-image: url("/public/Images/bg-sidebar-desktop.svg");
    }

    nav{
        flex-direction: column;
        justify-content: unset;
        row-gap: 3.5rem;
        align-items: unset;
    }
}
